body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background: #030002;
  color:#ffffff;
}

.navbar {
  background: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

